.profile {
  width: 400px;

  background-color: var(--main-bg-color);
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0px 4px 12px 0px rgba(100, 99, 99, 0.75);
  -webkit-box-shadow: 0px 4px 12px 0px rgba(100, 99, 99, 0.75);
  -moz-box-shadow: 0px 4px 12px 0px rgba(100, 99, 99, 0.75);
}

.description {
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}

.avatar {
  border-radius: 50%;
}

.name {
  margin: 10px 0;

  font-size: 18px;
  font-weight: 700;
  color: var(--main-text-color);
}

.tag,
.label {
  margin-bottom: 5px;

  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

.location {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

.stats {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  padding: 10px;

  text-align: center;
  background-color: var(--secondary-bg-color);
}

.item:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.quantity {
  font-weight: 700;
}
