@import-normalize; /* bring in normalize.css styles */

:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #ececec;

  --main-text-color: #000000;
  --secondary-text-color: #7a7979;
  --border-color: #c2bfbf;

  --offline-color: #f30202;
  --online-color: #025802;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--secondary-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding: 20px 0;
}

.container {
  width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
